*.apk
*.iml
*.iws
*.py[co]
*.zip
*scan_*/
*~
.DS_Store
.gradle
.idea
bin/
build/
classes/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dist/
fabric.properties
gen/
local.properties
manifest-merger-release-report.txt
out/
project.properties
projectFilesBackup/
release.keystore
